* {
   box-sizing: border-box;
}
img {
   display: block;
   width: 100%;
}
body {
   margin:0;
}
header {
   width: 100%;
   font-size: 0;
   background: #2F2F2F;
}
.logo{
   display: inline-block;
   width: 15%;
}
.name {
   display: inline-block;
   width: 53%;
}
.leftbox {
   display: inline-block;
   width: 70%;
   line-height: 1.5;
}
.rightbox {
   display: inline-block;
   vertical-align: top;
}
.leftbox hr{
   width: 100%;
   color: rgb(244, 244, 244);
}
.title {
   margin-left: 30px;
}
.p1 {
   margin-left: 30px;
}
.p1 p {
   padding-bottom: 10px;
   margin-top: 0px;
}
.p2 {
   margin-left: 30px;
}
.p2 p{
   padding-bottom: 10px;
   margin-top: 0px;
}
.p3 {
   margin-left: 30px;
}
.p3r img{
   float: right;
   width: 50%;
   margin-bottom: 30px;
   margin-left: 25px;
}
.p3l p{
   margin-top: 0;
   width: 50%;
}
.p4 {
   margin-left: 30px;
}
.p4l img{
   float: left;
   width: 30%;
   margin-bottom: 30px;
   margin-right: 5px
}
.p4r p{
   float: right;
   width: 68%;
}
.p4r-1 {
   margin-top: 0;
   margin-bottom: 10px;
}
.rightbox {
   margin-left: 20px;
   margin-top: 60px;
   width: 250px;
}
.rightbox hr{
   width: 100%;
   color: rgb(244, 244, 244);
   border-style: dotted;
   border-width: medium;
}
.s1-1 {
   display: inline-block;
   width:30%;
}
.s1-2 {
   display: inline-block;
   width: 65%;
   margin-bottom: 20px;
   vertical-align: top;

}
.s1p1{
   font-size: 10px;
   color: gray;
}
.s1p2 {
   color: #478AC3;
   font-weight: bold;
}

.s1p3 {
   color: #000;
   font-size: 12px;
}
.s2-1 {
   display: inline-block;
   width:30%;
}
.s2-2 {
   display: inline-block;
   width: 65%;
}
.s2p1 {
   font-size: 10px;
   color: gray;
}
.s2p2 {
   color: #478AC3;
   font-weight: bold;
}

.s2p3 {
   color: #000;
   font-size: 12px;
}
.s3-1 {
   display: inline-block;
   width:30%;
}
.s3-2 {
   display: inline-block;
   width: 65%;
}
.s3p1 {
   font-size: 10px;
   color: gray;
}
.s3p2 {
   color: #478AC3;
   font-weight: bold;
   font-size: 15px
}

.s3p3 {
   color: #000;
   font-size: 12px;
}
.rightbox > p {
   text-align: right;
}
.title {
   font-size: 22px;
}
footer {
   width: 100%;
   font-size: 0;
   margin-left: 20px;
   margin-right: 0;
   margin-bottom: 25px;
   padding-right: 35px;
   text-align: center;

}
footer div {
   margin-left: auto;
   margin-right: auto;
}
footer hr {
   width: 100%;
}
.f1 {
   display: inline-block;
   font-size: 13px;
   width: 25%;
   margin-right: auto;
}
.f2 {
   display: inline-block;
   font-size: 13px;
   width: 25%;
}
.f3 {
   display: inline-block;
   font-size: 13px;
   width: 25%;
   width: 200px;
}
.f4 {
   display: inline-block;
   font-size: 13px;
   width: 25%;
}
h2 {
   font-size: 38px;
   margin-bottom: 0px;
}
h3 {
   font-size:25px
}
.p3lb {
   color: #478AC3;
   font-weight: bold;
}
.nav-bar {

   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   background: #F2F2F2;
   margin: 25px;
   border-radius: 10px;

}

.nav-bar button {
   color: #478AC3;
   background: #FF9999;
   border: 0;
   border-left: 1px black solid;
   font-size: 15px;
   margin: 2px;
}
a {
   text-decoration:none;

}
.f4 a{
   color: #000;
}
.f3 a{
   color: #000;
}
.f2 a{
   color: #000;
}
.f1 a{
   color: #000;
}
.bot-link {
   color: #478AC3;
   text-align: right;
}
.front-f {
   font-weight: bold;
}
.dash {
   font-weight: bold;
   color: red;
   margin-left: 5px;
}
.herebut {
   color: gray;
}

body {
   padding-left:100px;
   padding-right:120px;
   background: lightgray;
}
.appcontainer {
   background:white;
}

@media only screen and (max-width: 768px) {
   .search-box {
      visibility: hidden;
   }
   body {
      padding: 0;
   }
   div {
      display: block;
   }
   .p3r img {
      margin: auto;
      float: none;
      width: 70%;

   }
   .p4l img {
      float: none;
      margin: auto;
      width: 60%;
   }
   .p4r p {
      float: none;
      margin:0;
      width: 100%;
   }
   .bot-link {
      text-align: center;
   }
   .f1 {
      display: block;
   }
   .f2 {
      display: block;
   }
   .f3 {
      display: block;
   }
   .f4 {
      display: block;
   }
   .body-box {
      text-align: center;
   }
   .p3l p {
      margin: 0;
      width: 100%
   }
   
}
.search-box {
   position: fixed;
   right: 20px;
   bottom: 60px;
   background: #3A539B;
   width: 300px;
   padding-top: 12px;
   padding-bottom: 5px;
}
.search-box form {
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 0;
   margin-top: 10px;
}
.search-box input {
   width: 88%;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;

   height: 100%;

}
.search-box h6 {
   color: white;
   margin: 8px;
   margin-left: 15px;
   font-size: 12px;
   font-weight: normal;
}
.search-box button {
   border-width: 1px;
   border-left-width: 0px;
   height: 100%;
   background: rgb(235, 232, 233);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;

}
.icon {
   color: rgb(215, 52, 58);
}
.search-box br {

}
